/* Base styles for the active state */
#active {
    border-radius: 50%;
    transition: all 0.2s;
    border: tomato solid 4px;
    width: 120px;
    height: 120px;
    top: -9px;
    left: -10.5px;
}

@media (max-width: 1400px) {
    #active {
        border-width: 0px;
    }
}



.contentItem{
    cursor: pointer;
}
.container{
    width:70vw;
    margin:auto;
}
.img{
    width:65%;
}