 @media screen and (min-width:1050px)  {
    .imagePlay{
        width:220px;
        cursor: pointer;
        transition: 0.5s;
        margin:0px 30px ;
    }  
    .imageStore{
        width:220px;
        cursor: pointer;
        transition: 0.5s;
       
    }
    .row{
        display: flex;
        justify-content: center;
        margin-top:30px;
    } 
}

@media screen and (max-width:1051px) and (min-width:750px){
    .imagePlay{
        width:180px;
        cursor: pointer;
        transition: 0.5s;
        margin:0px 30px ;
    }  
    .imageStore{
        width:180px;
        cursor: pointer;
        transition: 0.5s;
       
    }
    .row{
        display: flex;
        justify-content: center;
        margin-top:30px;
    } 
}


@media (max-width:749px) {
    .imagePlay{
        cursor: pointer;
        transition: 0.5s;
        width:200px;
        margin:20px 0px 10px 0px;
    }  
    .imageStore{
        width:200px;
        cursor: pointer;
        transition: 0.5s;
    }
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
} 

.imagePlay:hover,.imageStore:hover{
    transform: scale(1.05);
}